<mat-toolbar color="black" >
    <mat-toolbar-row>

      <mat-icon class="example-icon"></mat-icon>
      <span matTooltip="logo" routerLink="/landing">CountmeIn</span><span class="example-spacer" ></span>
      <span matTooltip="Update Settings"><button mat-icon-button routerLink="/settings">
          <mat-icon>settings</mat-icon>
        </button></span>
      <span matTooltip="Help" [matMenuTriggerFor]="helpMenu">
        <button mat-icon-button>
          <mat-icon>help</mat-icon>
        </button>
      </span>
      <span matTooltip="LogIn"><button mat-icon-button routerLink="/login">
        <mat-icon>login</mat-icon>
      </button></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu #helpMenu="matMenu" class="m-3" color="black">
      {{ helpType == "login" ? configData.login : ""}}
      {{ helpType == "register" ? configData.register : ""}}
      {{ helpType == "checkin" ? configData.checkin : ""}}
      {{ helpType == "checkout" ? configData.checkout : ""}}
      {{ helpType == "aboutus" ? configData.aboutus : ""}}
      {{ helpType == "employee" ? configData.employee : ""}}
      {{ helpType == "config" ? configData.config : ""}}
  </mat-menu>
  