<app-header pageTitle="Order" imageUrl="sms" helpType="crm"></app-header>
<mat-card [@fallIn]='state'>
    <mat-card-content>
        <div *ngIf="(toggleField=='searchMode') 
    else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
            <!-- searchmode -->
        </div>
    </mat-card-content>
</mat-card>
<!-- addMode -->
<ng-template #showAddMode>
    <form [formGroup]="addDataForm" (ngSubmit)="setData(addDataForm.value);this.addDataForm.reset();" novalidate>
        <mat-error *ngIf="savedChanges">
            Data is saved.
            <label class="small-spacer"></label>
            <mat-icon (click)="this.addDataForm.reset();savedChanges=false;toggle('searchMode');">clear</mat-icon>
        </mat-error>
        <div *ngIf="!savedChanges">
            <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
            <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
            <mat-card-actions align="start">
                <button type="submit" mat-raised-button color="primary" [disabled]="!addDataForm.valid">New
                    Order</button>
                <button type="reset" (click)="this.addDataForm.reset();" mat-raised-button
                    [disabled]="!addDataForm.valid" color="primary">Clear</button>
                <button mat-raised-button matTooltip="Show Recent Results" color="primary"(click)="toggle('resMode');getData();">
                    Show All Records
                </button>
            </mat-card-actions>
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contact Type</mat-label>
                <mat-select formControlName="OrderType">
                    <mat-option *ngFor="let c of contacts" [value]="c">
                        {{ c }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput type="date" placeholder="Start Date" formControlName="startDt" required>
            </mat-form-field> <mat-card-actions align="start"></mat-card-actions>
            <mat-form-field>
                <input matInput type="date" placeholder="End Date" formControlName="endDt" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let c of statuses" [value]="c">
                        {{ c }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. Purpose of Order..." formControlName="purpose"></textarea>
            </mat-form-field>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Addresses
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="addresses">
                        <div *ngFor="let item of addDataForm.get('addresses')?.controls; let pointIndex=index"
                            [formGroupName]="pointIndex">
                            <mat-form-field>
                                <mat-label>Address Type</mat-label>
                                <mat-select formControlName="addtype">
                                    <mat-option *ngFor="let a of addTypes" [value]="a">
                                        {{ a }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Full Address" formControlName="address">
                            </mat-form-field>
                            <mat-icon color="warn" *ngIf="(userRole$ | async)?.addressbook.delete"
                                (click)="deleteAddress(pointIndex,'addDataForm')">delete</mat-icon>
                        </div>
                        <mat-icon color="primary" *ngIf="(userRole$ | async)?.addressbook.delete"
                            (click)="addAddress('addDataForm')">add</mat-icon>
                    </div>
                </mat-expansion-panel>
             
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Order Items
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="orderItems">
                        <div *ngFor="let item of addDataForm.get('orderItems')?.controls; let pointIndex=index"
                            [formGroupName]="pointIndex">
                                <mat-form-field>
                                    <mat-label>Product Category</mat-label>
                                    <mat-select formControlName="prodCat" (selectionChange)="filterProducts($event)">
                                        <mat-option *ngFor="let c of productCat" [value]="c.name">
                                            {{ c.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            <mat-form-field>
                                <mat-label>Product Name</mat-label>
                                <mat-select formControlName="prodName">
                                    <mat-option *ngFor="let c of products" [value]="c.name">
                                        {{ c.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="quantity" formControlName="quantity" (blur)="calculateSubtotal(pointIndex)" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="subtotal" formControlName="subtotal" disabled>
                            </mat-form-field>
                            <mat-icon color="warn" *ngIf="(userRole$ | async)?.addressbook.delete"
                                (click)="deleteExpenses(pointIndex,'addDataForm')">delete</mat-icon>
                        </div>
                        <mat-icon color="primary" *ngIf="(userRole$ | async)?.addressbook.delete"
                            (click)="addExpenses('addDataForm')">add</mat-icon>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Assign
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div formArrayName="assigned">
                        <div *ngFor="let item of addDataForm.get('assigned')?.controls; let pointIndex=index"
                            [formGroupName]="pointIndex">
                            <mat-form-field>
                                <mat-label>Assigned To</mat-label>
                                <mat-select formControlName="assigned">
                                    <mat-option *ngFor="let a of users" [value]="a.name">
                                        {{ a.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-icon color="warn" *ngIf="(userRole$ | async)?.addressbook.delete"
                                (click)="deleteAssigned(pointIndex,'addDataForm')">delete</mat-icon>
                        </div>
                        <mat-icon color="primary" *ngIf="(userRole$ | async)?.addressbook.delete"
                            (click)="addAssigned('addDataForm')">add</mat-icon>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </form>
</ng-template>
<!-- edit mode -->
<ng-template #showEditMode>
    <form [formGroup]="editDataForm" (ngSubmit)="updateData(editDataForm.value);" novalidate>
        <input type="hidden" formControlName="_id" required>
        <mat-error *ngIf="savedChanges">
            Data is saved.
            <label class="small-spacer"></label>
            <mat-icon (click)="this.editDataForm.reset();savedChanges=false;toggle('resMode');">clear</mat-icon>
        </mat-error>
        <div *ngIf="!savedChanges">
            <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
            <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
            <mat-card-actions align="start">
                <button type="submit" mat-raised-button *ngIf="(userRole$ | async)?.addressbook.write"
                    [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">Update</button>
                <button color="primary" mat-raised-button (click)="toggle('resMode');getData();">Show Recent Orders</button>
            </mat-card-actions>
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contact Type</mat-label>
                <mat-select formControlName="OrderType">
                    <mat-option *ngFor="let c of contacts" [value]="c">
                        {{ c }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input matInput type="date" formControlName="startDt" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="date" placeholder="End Date" formControlName="endDt" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let c of statuses" [value]="c">
                        {{ c }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. Purpose of Order..." formControlName="purpose"></textarea>
            </mat-form-field>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Addresses
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="addresses">
                        <div *ngFor="let item of editDataForm.get('addresses')?.controls; let pointIndex=index"
                            [formGroupName]="pointIndex">
                            <mat-form-field>
                                <mat-label>Address Type</mat-label>
                                <mat-select formControlName="addtype">
                                    <mat-option *ngFor="let a of addTypes" [value]="a">
                                        {{ a }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Full Address" formControlName="address">
                            </mat-form-field>
                            <mat-icon color="warn" *ngIf="(userRole$ | async)?.addressbook.delete"
                                (click)="deleteAddress(pointIndex,'editDataForm')">delete</mat-icon>
                        </div>
                        <mat-icon color="primary" *ngIf="(userRole$ | async)?.addressbook.delete"
                            (click)="addAddress('editDataForm')">add</mat-icon>
                    </div>
                </mat-expansion-panel>
              
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Order Items
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div formArrayName="orderItems">
                        <div *ngFor="let item of editDataForm.get('orderItems')?.controls; let pointIndex=index"
                            [formGroupName]="pointIndex">
                            <mat-form-field>
                                <mat-label>Product Category</mat-label>
                                <mat-select formControlName="prodCat">
                                    <mat-option *ngFor="let c of productCat" [value]="c.name">
                                        {{ c.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Product Name</mat-label>
                                <mat-select formControlName="prodName">
                                    <mat-option *ngFor="let c of products" [value]="c.name">
                                        {{ c.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="quantity" formControlName="quantity" required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="subtotal" formControlName="subtotal" required>
                            </mat-form-field>
                            <mat-icon color="warn" *ngIf="(userRole$ | async)?.addressbook.delete"
                                (click)="deleteExpenses(pointIndex,'editDataForm')">delete</mat-icon>
                        </div>
                        <mat-icon color="primary" *ngIf="(userRole$ | async)?.addressbook.delete"
                            (click)="addExpenses('editDataForm')">add</mat-icon>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Documents
                        </mat-panel-title>
                        <mat-panel-description>
                            Documents Links
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let file of data$?.files">
                        <br />
                        {{ file }}
                        <button type="button" mat-raised-button (click)="showDocument=!showDocument; getDocUrl(file);"
                            color="primary">Show Document</button>
                    </div>
                    <div *ngIf="showDocument">
                        <span matTooltip="Close">
                            <mat-icon color="primary" (click)="showDocument = !showDocument;">clear
                            </mat-icon>
                        </span>
                        <br />
                        <a href="{{ docUrl | async }}" target="_blank">Click here to open {{ fileName }} document</a>
                    </div>
                    <br>
                    <div *ngIf="showFileUpload">
                        <span matTooltip="Close">
                            <mat-icon color="primary" (click)="showFileUpload = !showFileUpload;">clear
                            </mat-icon>
                        </span>
                        <br />
                        <app-fileupload fileUrl="ORDER" docId="{{docId}}"></app-fileupload>
                    </div>
                    <br>
                    <button type="button" mat-raised-button *ngIf="(userRole$ | async)?.addressbook.delete"
                        (click)="showFileUpload=!showFileUpload" color="primary">Upload File</button>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Assign
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div formArrayName="assigned">
                        <div *ngFor="let item of editDataForm.get('assigned')?.controls; let pointIndex=index"
                            [formGroupName]="pointIndex">
                            <mat-form-field>
                                <mat-label>Assigned To</mat-label>
                                <mat-select formControlName="assigned">
                                    <mat-option *ngFor="let a of users" [value]="a.name">
                                        {{ a.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-icon color="warn" *ngIf="(userRole$ | async)?.addressbook.delete"
                                (click)="deleteAssigned(pointIndex,'editDataForm')">delete</mat-icon>
                        </div>
                        <mat-icon color="primary" *ngIf="(userRole$ | async)?.addressbook.delete"
                            (click)="addAssigned('editDataForm')">add</mat-icon>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </form>
</ng-template>
<!-- Results mode -->
<ng-template #showResMode>
    <mat-card-actions align="start">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Recent Results">
        </mat-form-field>
        <button  mat-raised-button color="primary" matTooltip="Add new Order" (click)="toggle('addMode')">
            Add New Order
        </button>
        <span class="small-spacer"></span>
    </mat-card-actions>
    <div class="example-header">
       
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="OrderType">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Order Type</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.OrderType}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
   
            <ng-container matColumnDef="purpose">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.purpose}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="updatedAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.updatedAt.toDate() | date: 'yyyy-MM-dd HH:mm:ss' }} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="_id">
                <mat-header-cell *matHeaderCellDef> action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span matTooltip="Edit">
                        <button mat-icon-button (click)="getDoc(row._id)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                    </span>
                    <span matTooltip="Delete" *ngIf="(userRole$ | async)?.addressbook.delete">
                        <button mat-icon-button (click)="deleteDoc(row._id)">
                            <mat-icon color="primary">delete</mat-icon>
                        </button>
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</ng-template>